@charset "UTF-8";

body{
	background: #eaedf2;
	background: #eaedf2 url(../img/noisebg.png);
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

/*
div.background{
	background: -webkit-linear-gradient(#02679d, #194e76);
	background: -moz-linear-gradient(#02679d, #194e76);
	background: -o-linear-gradient(#02679d, #194e76);
	background: linear-gradient(#02679d, #194e76);
}
*/

div.content{
	background: #FFF;
	border: 1px solid #AAA;
	border-radius: 5px;
	padding: 1em;

}

div.CScontenedor{
	margin-top:100px;
	margin-bottom: 50px;
}

.centerText{
	text-align: center;
}

div.inscOption{
	margin-top:10px;
}

span.inscOptionIMG{
	width: 40px;
	display: inline-block;
	height: 32px;
}
