@charset "UTF-8";

body{
	background: #eaedf2;
	background: #eaedf2 url(../img/noisebg.png);
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;

}

/*
div.background{
	background: -webkit-linear-gradient(#02679d, #194e76);
	background: -moz-linear-gradient(#02679d, #194e76);
	background: -o-linear-gradient(#02679d, #194e76);
	background: linear-gradient(#02679d, #194e76);
}
*/

.content{
	background: #FFF;
	border: 1px solid #AAA;
	border-radius: 5px;
	padding: 1em;
	margin-bottom: 1em;
}

div.CScontenedor{
	margin-top:100px;
	margin-bottom: 50px;
}

.centerText{
	text-align: center;
}

div.inscOption{
	margin-top:10px;
	padding: 5px 5px 5px 5px;
}

span.inscOptionIMG{
	width: 40px;
	display: inline-block;
	height: 32px;
}

.opcion{
	margin-top: 5px;
	background: #eaedf2;
	padding: .5em;
	border: 1px solid #CCC;
	border-radius: 5px;
	overflow: auto;
	display: table;
	width: 100%;
	-webkit-user-select: none;
 	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	text-align: right;
}

footer{
	position: relative;
	margin: -30px auto 20px auto; /* negative value of footer height */
	height: 50px;
	clear:both;
}

.button{
	min-width: 6em;
}
